<div class="background card">
        <div class="row">
            <div class="col-md-6" style="padding-top: 50px;">
                <h1>{{pageTitle}}</h1>
            </div>
        </div>
        <div class="table-responsive">
            <div *ngIf="entries && entries.length==0"><p>Sorry No data available</p></div>
            <table class="table" *ngIf="entries && entries.length">
                <thead>
                    <tr>
                        <!-- <th colspan="3" style="text-align: center;"> -->
                            <th style="padding-left: 80px;">
                                Date
                        </th>
                        <th>Weight</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of entries">
                        <td><a href="#" style="padding-right: 20px;"><i class="fa fa-trash text-dark"></i></a>
                            <a href="#" style="padding-right: 20px;"><span class="fa fa-info-circle text-dark"></span></a>
                            <!-- <button class="fa fa-info-circle"></button> -->
                            {{entry.date|date}}</td>
                        <td>{{entry.weight}} lbs</td>
                        
                    </tr>
                </tbody>
                    
            </table>
        </div>
    </div>

    <div class="col-md-4" style="padding-top: 20px;">
        <div class="card-header">
            New Weight Entry
        </div>
        <div style="padding-top: 10px;">
        <input type="text" placeholder="Weight">&nbsp;
        <input type="text" placeholder="Date (mm/dd/yyyy)">&nbsp;
        <input type="button" class="btn btn-sm btn-info" value="Save">
        </div>
    </div>
